@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body{
    
     background-image: linear-gradient(to left top  ,hsla(0, 8%, 25%, 0.301), #234561), url(/Img/5651978.png);  
background-size: cover;
font-family: 'Poppins';
margin: 0;
    
}


.navbar{
    display: flex;
    justify-content: space-around;
    background-color:  rgb(31, 47, 77);
    padding-top: 50px;
    clip-path: polygon(100% 0, 100% 63%, 100% 100%, 0 70%, 0 0);


}

.logo{
    z-index: 1;
    
    margin-bottom: 100px;
}


.nav-item{
    margin-right: 30px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
   
}

.nav-item:hover{
    color: #020202;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
p{
    color: #ffffff;
}

.contact-btn{
    width: 150px;
    height: 50px;
    border-radius: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #000000;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.touch-btn{
    width: 150px;
    height: 50px;
    font-weight: 800;
    border-radius: 10px 20px;
    border: none;
    background-color: #000000;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.touch-btn:hover{
color: #000000;
background-color: rgb(255, 255, 255);
}

.me-btn:hover{
    color: rgb(255, 255, 255);
 background-color: #000;
}

.intro-part{
    margin-top: 100px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto;
}

h3{
    font-size: 40px;
    color: #ffffff;
}
h1{
    font-size: 70px;
    color: #ffffff;
}

h2{
    font-size: 40px;
    color: #000000;
    margin-left: 40%;
    margin-top: 100px;
}

h2:hover{
    color: #ffffff;
   cursor: pointer;
}

.api{
   
    background-color: rgb(31, 47, 77);
    padding-top: 100px;
    
    
    

}

.skills{
    
}

.skill{
    color: #ffffff;
    margin-left: 45%;
}


.card-head-active:hover{
    color: #ffffff;
   cursor: pointer;
}

.cards{
   
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 220px;
}

.card-active{
    margin-left: 200px;
}

.exp{
    margin-left: 40%;
}

.featured-p{
    margin-left: 30%;
}


.achievements{
    margin-top: 100px;
}

.cards-4{
display: flex;
justify-content: space-evenly;
}

.projects{
    background-color: rgb(31, 47, 77);
padding: 50px;
clip-path: inset(13% 13% 15% 16%);
}

.projects-4{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 10%;
}

.project-onefour{
    margin-top: 100px;
    width:400px;
    height:500px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px 20px;
    box-shadow:  2px  2px 40px 10px rgb(63, 62, 62) ;
    padding-bottom: 40px;
    
}

.project-name{
position: relative;
right: 40%;
bottom: 15%;
width: 400px;
color: #ffffff;
text-align: center;
}

.project-name:hover{
    color: rgb(96, 149, 199);
}

.project-link,.git-link{
    width: 120px;
    height:30px;
    background-color: rgb(255, 255, 255);
    color: #000;
    border-radius: 20px 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
}



.project-link:hover{
color: #ffffff;
background-color:rgb(96, 149, 199);
}

.git-link:hover{
    color: #ffffff;
    background-color: rgb(96, 149, 199);
    }

.resource-link{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 10%;
}


.view-btn{
    margin-left: 45%;
    margin-top: 100px;
    width:150px;
height:40px;
border-radius: 10px 10px;
border: none;
background-color: #000;
font-weight: 700;

}

.blog-wrap{
    background-color: rgb(31, 47, 77);
   padding-bottom: 20px;
}

.blogs{
    text-align: center;
}

.blog{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.btn-blog{
    margin-left: 46%;
    text-align: center;
    width:150px;
    height:40px;
    border-radius: 10px 10px;
    border: none;
    background-color: #000;
    font-weight: 700;
}

.connect{
    font-size: 40px;
    text-align: center;
}
.list{
    display: flex;
    list-style: none;
    

}

.list-items{
    margin-right: 50px;
}

.img-projects:hover{

    transition: 0.5s ease-in-out ;
    
    box-shadow:  2px  2px 40px 20px rgb(96, 149, 199) ;
    transform: scale(1);
	animation: pulse 2s infinite;

}


.footer-right{
    width: 100vw;
    display: flex;
    justify-content: center;
    
    
}

.fa-brands{
    width: 80px;
    height: 60px;
    font-size: 40px;
    color: #000;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
    text-align: center;

}

.fa-brands:hover{
    color: #ffffff;
    background-color:#000 ;
}



@keyframes pulse {
	0% {
		transform: scale(0.95);
    }

	70% {
		transform: scale(1);
		
	}

	100% {
		transform: scale(0.95);
		
	}
}


